body { 
  background: url(../images/hotel.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	background-color: antiquewhite;
	opacity: 0.9;
}

